*{

    margin:0;
    padding:0;
    min-height: 100%;

}

body{

    background-color: #ff6e0d;
    background-repeat: no-repeat;  
    height: auto;
    max-width: 100%;

}

header{

    background: #f7f4f4;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #fff9f9, #868484);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #fff9f9, #868484); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    height: 80px;
    width: 100%;
    filter: alpha(opacity=100);
    opacity: 0.7;
    -moz-opacity:0.5;

}

footer{

    background: #f7f4f4;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #fff9f9, #868484);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #fff9f9, #868484); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    filter: alpha(opacity=100);
    opacity: 0.7;
    -moz-opacity:0.5;
    height: 80px;
    width: 100%;
    margin-top: 300px;
    bottom: 0px;


}

h1{

    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    text-align: center;
    text-shadow: 1px 1px 1px #111111;
}


#menu{
    float: right;
    margin-top: 30px;

}

#menu a{
    padding: 52px 10px;
    text-decoration: none;
    color: #000000;
    font-family: Arial;
    font-weight: bolder ;
}

#principal{
   
    clear: both;
    width: auto;
    margin: auto;
    width: 90%;

}

#info{

    clear: both;
    margin-left: 100px;
    margin-top: 150px;
    line-height: 1.8;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: #ffffff;
    text-shadow: 1px 1px 1px #111111;
}

#mapa{

    
    margin-top: -270px;
    margin-left: 600px;
}

#logo{
    float:left;
    width: 200px;
    height: 100px;
    
}