*{
    margin: 0;
    padding: 0;
    min-height: 100%;
}

body{

    background-color: #ff6e0d;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
    height: auto;
    max-width: 100%;
}

header{

    background: #f7f4f4;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #fff9f9, #868484);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #fff9f9, #868484); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    height: 80px;
    width: 100%;
    filter: alpha(opacity=100);
    opacity: 0.7;
    -moz-opacity:0.5;

}

footer{

    clear: both;
    background: #f7f4f4;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #fff9f9, #868484);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #fff9f9, #868484); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    filter: alpha(opacity=100);
    opacity: 0.7;
    -moz-opacity:0.5;
    height: 80px;
    width: 100%;
    margin-top: 500px;
    bottom: 0px;
    

}

h1{
    margin-left: 550px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 30px;
    color: #ffffff;
}


#menu{
    float: right;
    margin-top: 30px;

}

#menu a{
    padding: 52px 10px;
    text-decoration: none;
    color: #000000;
    font-family: Arial;
    font-weight: bolder ;
}

#metalica{

    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    margin-left: -50px;
    white-space: pre-wrap;
    text-align: justify;
    line-height: 1.8;
    margin-top: -80px;
    
}

#met{
    margin-left: 95px;
}

#pvc{

    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    margin-left: -50px;
    white-space: pre-wrap;
    text-align: justify;
    line-height: 1.8;
    margin-top: -80px;
}

#pc{
    margin-left: 95px;
    
}



#inx{

    clear: both;
    margin-left: 100px;
    font-family: Arial, Helvetica, sans-serif;
    white-space: pre-wrap;
    text-align: justify;


}

#inox{
    
    clear: both;
    margin-left: 500px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    white-space: pre-wrap;
    text-align: justify;
    line-height: 1.8;
    margin-top: 80px;

}

#patrimonio{

    clear: both;
    margin-left: 500px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    white-space: pre-wrap;
    text-align: justify;
    line-height: 1.8;
    margin-top: -80px;

}


#pat{

    clear: both;
    margin-left: 100px;
    font-family: Arial, Helvetica, sans-serif;
    white-space: pre-wrap;
    text-align: justify;


}

#dir{
    height: auto;
    max-width: 100%;

}

#esq{
    height: auto;
    max-width: 100%;
}

#logo{
    float:left;
    width: 200px;
    height: 100px;
}

.esquerda{
    margin-top: 70px;
    color: #ffffff;
    text-shadow: 1px 1px 1px #111111;
    height: auto;
    max-width: 100%;
    

}

.direita{

    float: right;
    margin-top: -632px;
    color: #ffffff;
    height: auto;
    max-width: 100%;
}